* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Tulpen One', cursive;
    font-size: 20px;
    letter-spacing: 0.2em;
    border-bottom: solid 1px rgb(86, 86, 86);
    background-color: black;
    color: white;
    padding: 0 20px;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}
.extras {
    margin-left: 175px;
    position: absolute;
    display: flex;
    gap: 20px; /* Space between the items */
  }
  
  .extras a {
    font-family: Space Grotesk;
    font-size: small;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .extras a i {
    color: white;
    font-size: 20px;
    margin-right: 5px; 
  }
  
  .menuicon {
    border: none;
    background-color: transparent;
    color: white;
  }
  .secondary-navbar{
    position: sticky;
    top: 75px;
    z-index: 10px;
    background-color: #141414;
    display: flex;
    margin-left: 0.5px;
    border: solid 1px;
    box-shadow: 1px 1px 10px black;
    border-bottom: solid 1px ;
  }
  .secondary-navbar-pages{
    display: flex;
    gap: 15px;
    padding: 5px;
    padding-left: 25px;
  }
  .secondary-navbar-pages .bi{
    margin-right: -5px;
    color: rgb(255, 255, 255);
  }
  .secondary-navbar-pages a{
    font-family: Space mono;
    color: white;
    font-size: 12px;
  }

.sidebar {
    position: fixed;
    top: 75px;
    right: -250px; 
    width: 250px;
    height: calc(100vh - 75px); 
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 10px;
    transition: right 0.3s ease; 
    z-index: 10;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

.sidebar a {
    font-family: Space Grotesk;
    font-size: 14px;
    display: flex;
    align-items: center; 
    padding: 10px;
    color: black;
    text-decoration: none;
    font-style: normal;
    margin: 5px 0;
    font-weight: lighter;
}

.sidebar a:hover {
    background-color: rgb(220, 218, 218);
    border-radius: 5px;
}

/* Style for logos */
.sidebar img {
    border: solid 1px rgba(228, 228, 228, 0.562);
    border-radius: 50%;
    width: 35px; /* Set a fixed width for logos */
    height: 35px; /* Set a fixed height for logos */
    margin-right: 10px; /* Space between logo and text */
    object-fit: contain; /* Ensure logos fit nicely */
}


.menuicon {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); /* Reduced opacity for less dimming */
    display: none; /* Hidden initially */
    z-index: 5;
}

.back-arrow {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    color: black;
}
.table-container {
    margin: 20px;
    overflow-x: auto;
}
.sidebar-extras{
    display: none !important;
}
table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

}
td{
    font-family: Space Mono;
    font-size: small;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
    font-family: Alegreya Sans SC;
    font-size: larger;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

.secondary-navbar{
    display: none;
}

@media(max-width: 768px){
    th{
        font-size: medium;
    }
    td{
        font-size: 8px;
    }
    .extras{
        margin-left: 160px;
        gap: 10px;
    }

    
}

@media(max-width: 425px){
    th{
        font-size: small;
    }
    td{
        font-size: 7px;
    }
    th .extradata{
        display: none;
    }
    table td.extradata {
        display: none !important;
    }
    table th.extradata{
        display: none !important;
    }
    .sidebar-extras{
        display: none!important;
    }
    .secondary-navbar{
        display: flex;
    }
    .navbar-extras{
        display: none !important;
    }

}
.footer {
    border-top: solid 1px;
    font-family: Space Grotesk;
    background-color: #ffffff;
    color: #727272;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.table-title{
    display: flex;
    font-family: Alegreya Sans SC;
    word-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    color: grey;
    margin-top: 15px;
}
.footer a {
    font-family: Space Mono;
    color: #333333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}
.footer p i{
    letter-spacing: 2px;
}

.footer a:hover {
    color: #ffd503;
}
.footer h4{
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-socials {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
    }

    .footer a {
        font-size: 12px;
        margin: 0 5px;
    }

    .footer-socials {
        font-size: 16px;
    }
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    flex-wrap: wrap;
}

.search-input {
    font-family: Space grotesk;
    width: 150px;
    padding: 10px;
    padding-right: 35px; /* Add space for the icon */
    border: 1px solid white ;
    border-radius: 20px;
    font-size: 9px;
}

.search-icon {
    background-color: #ffc800;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 4px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 425px) and (max-width: 560px) {
    .search-container{
        margin-right: 10px;
    }
    .search-input {
        width: 0;
        background-color: transparent;
        border: transparent; 
    }
    .search-container .search-input{
        transition: width 0.25s ease-in-out;
        overflow: hidden;
    }
    .search-icon {
        background-color: transparent;
        color: white;
        font-size: 15px;
        display: block; 
    }

    .search-container.active .search-input {
        width: 250px;
        background-color: white; 
    }
    .search-container.active .search-icon {
        background-color: rgb(255, 200, 0);
        color: black;
}

@media(max-width: 375px){
    .search-container{
        margin-right: 10px;
    }
    .search-input {
        width: 0;
        background-color: transparent;
        border: transparent; 
    }

    .search-icon {
        background-color: transparent;
        color: white;
        font-size: 15px;
        display: block; 
    }

    .search-container.active .search-input {
        width: 150px; 
    }
}}

.features-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: solid gold;
    width: 90%;
    max-width: 400px;
    z-index: 1000;
    padding: 20px;
    text-align: center;
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}

.features-card h2 {
    color: whitesmoke;
    font-family: 'Tulpen One', cursive;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.features-card ul {
    color: white;
    font-family: Space Grotesk;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.features-card ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.features-card button {
    font-family: Space Grotesk;
    padding: 10px 20px;
    background-color: black;
    border: solid 1px gold;
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-radius: 25px;
    cursor: pointer;
}

.features-card button:hover {
    background-color: gold;
    color: black;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 425px){
    .features-card{
        max-width: 250px;
        height: 350px;
    }
    .features-card ul li{
        font-size: 0.6rem;
    }
    .features-card button{
        position: absolute;
        bottom: 20px; 
        left: 50%;
        transform: translateX(-50%); 
        font-size: 0.6rem;
    }
}